#contents{
    position: relative;
    padding-top: 44px;
}

.inner{
    margin-left: 15px;
    margin-right: 15px;
}

.inner2{
    margin-left: 8px;
    margin-right: 8px;
}

.sector1{
    padding-top: 30px;
    padding-bottom: 30px;

    &.bggray1{
        background-color: $bggray1;
    }

    &.bggray2{
        background-color: $bggray2;
    }

    &.worshipbg{
        background-image: url('../images/days/bg_worship.jpg');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: contain;
    }

    &.comnbg{
        background-image: url('../images/days/bg_com.jpg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: contain;
    }
}

.sector2{
    padding-top: 18px;
    padding-bottom: 18px;

    &.bggray2{
        background-color: $bggray2;
    }
}

.subtit{
    padding-bottom: 27px;
    text-align: center;
    font-size: 1.25rem;

    & > span{
        @include marginCenter();
        color: $gray;
        border: 1px solid $gray;
        display: block;
        width: 30px;
        height: 30px;
        margin-bottom: 5px;
        line-height: 30px;
        font-size: 1rem;
        border-radius: 50%;
    }
}

.praytit{
    color: $gray;
    margin-bottom: 12px;
    text-align: center;
    font-size: 1.125rem;

    &::before{
        @include marginCenter();
        @include bgicon(16, 20 ,'../images/icon/cross.png');
        content: '';
        display: block;
        width: 16px;
        height: 20px;
        margin-bottom: 5px;
    }
}

.sectit1{
    font-size: 1.125rem;;
    font-weight: 700;
    text-align: center;
    line-height: 1.3;

    .smallcopy{
        font-size: 0.813rem;
        font-weight: 400;
    }
}

.sectit2{
    color: $gray;
    margin-bottom: 15px;
    font-size: 1.375rem;;
    font-weight: 700;
    text-align: center;
    line-height: 1.3;
}

.sectit3{
    margin-bottom: 15px;
    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
    line-height: 1.3;

    .round{
        @include marginCenter();
        border: 1px solid $blue;
        position: relative;
        width: 54px;
        height: 54px;
        margin-bottom: 7px;
        border-radius: 50px;

        .isico{
            @include posiCenter('va');
        }
    }
}

.video-js{
    &.vjs-16-9{
        padding-top: 56.25%;
    }
}

.video_conts{
    margin-bottom: 20px;
}
