.footer{
    background-color: $black2;
    padding: 20px 10px 40px;

    .footlogo{
        margin-bottom: 8px;

        & > a{
            @include marginCenter();
            @include ir();
            display: block;
            width: 154px;
            height: 32px;
            background: url('../images/common/flogo.png') no-repeat;
            background-size: contain;
        }
    }

    .footcopy{
        color: $gray2;
        font-size: 0.75rem;
        text-align: center;
        line-height: 1.8;
    }
}

.pagecontrols{
    display: none;
    position: fixed;
    right: 5px;
    bottom: 120px;
    z-index: 9;
    
    & > a{
        background-color: rgba($white, 0.8);
        border: 1px solid $lgray;
        box-shadow: rgba($black, 0.1) 0 3px 3px;
        display: block;
        width: 57px;
        height: 57px;
        padding: 14px 0;
        border-radius: 50%;
        overflow: hidden;

        & + a{
            margin-top: 10px;
        }

        .isico{
            @include marginCenter();
        }

        &.btn_btm{
            .isico{
                transform: rotate(180deg);
            }
        }
    }
}

#footer{
    @include transition(0.4s);
    transition-delay: 0.3s;
    opacity: 0;
}

#aniFooter{
    @include transition(0.4s);
    opacity: 0;

    &.anistart{
        opacity: 1;

        #footer{
            opacity: 1;
        }
    }
}