.btnwrap{
    @include clearfix();

    .center{
        text-align: center;
    }
}

.btn1{
    @include marginCenter();
    border: 2px solid $black;
    color: $black;
    display: block;
    width: (360/540)*100%;
    padding: 10px 5px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    border-radius: 20px;
}