@font-face {
    font-family: 'Nanum Square';
    src: url('/resources/fonts/NanumSquareL.eot');
    src: url('/resources/fonts/NanumSquareL.eot?#iefix') format('embedded-opentype'),
        url('/resources/fonts/NanumSquareL.woff2') format('woff2'),
        url('/resources/fonts/NanumSquareL.woff') format('woff'),
        url('/resources/fonts/NanumSquareL.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Nanum Square';
    src: url('/resources/fonts/NanumSquareR.eot');
    src: url('/resources/fonts/NanumSquareR.eot?#iefix') format('embedded-opentype'),
        url('/resources/fonts/NanumSquareR.woff2') format('woff2'),
        url('/resources/fonts/NanumSquareR.woff') format('woff'),
        url('/resources/fonts/NanumSquareR.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Nanum Square';
    src: url('/resources/fonts/NanumSquareB.eot');
    src: url('/resources/fonts/NanumSquareB.eot?#iefix') format('embedded-opentype'),
        url('/resources/fonts/NanumSquareB.woff2') format('woff2'),
        url('/resources/fonts/NanumSquareB.woff') format('woff'),
        url('/resources/fonts/NanumSquareB.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Nanum Square';
    src: url('/resources/fonts/NanumSquareEB.eot');
    src: url('/resources/fonts/NanumSquareEB.eot?#iefix') format('embedded-opentype'),
        url('/resources/fonts/NanumSquareEB.woff2') format('woff2'),
        url('/resources/fonts/NanumSquareEB.woff') format('woff'),
        url('/resources/fonts/NanumSquareEB.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

$fontFamily: 'Nanum Square',sans-serif;

.ftc_default{
    color: $color-default;
}
.ftc_primary{
    color: $color-primary;
}
.ftc_black{
    color: $black;
}
.ftc_white{
    color: $white;
}

.fw300{
    font-weight: 300 !important;
}

.fw400{
    font-weight: 400 !important;
}

.fw700{
    font-weight: 700;
}

.fw900{
    font-weight: 900;
}

.taleft{
    text-align: left;
}
.tacenter{
    text-align: center;
}
.taright{
    text-align: right;
}

.txtover{
    @include textOverflow();
}
.txtunder{
    text-decoration: underline;
}