.inputbox{
    position: relative;

    input{
        @include transition(0.25s);
        color: $black;
        background-color: $white;
        border: 1px solid $lgray;
        width: 100%;
        height: 36px;
        padding: 0 10px;
        line-height: 35px;

        &:disabled{
            color: $color-default;
            background-color: $bggray1;
        }
    }
}

.textareabox{
    position: relative;

    textarea{
        @include transition(0.25s);
        color: $black;
        background-color: $white;
        border: 1px solid $lgray;
        width: 100%;
        padding: 10px;
    }
}

.radiobtwrap{
    input[type='radio']{
        @include blind();

        & + label{
            @include disinBlock('m');
            border: 1px solid $lgray;
            background-color: $white;
            width: 92px;
            height: 36px;
            font-size: 1rem;
            font-weight: 700;
            text-align: center;
            line-height: 36px;
        }

        &:checked + label{
            color: $white;
            border-color: $color-primary;
            background-color: $color-primary;
        }
    }

    .radiobt + .radiobt{
        margin-left: 4px;
    }

}

.radiobox{
    position: relative;

    input[type="radio"]{
        @include formindent();

        // &:focus+label:before{
        //     outline: 1px solid $color-primary;
        // }

        & + label{
            @include disinBlock('m');
            color: $black;
            position: relative;
            min-height: 22px;
            line-height: 1;
            cursor: pointer;

            &:before{
                @include disinBlock('m');
                @include transition(0.3s);
                background-color: $white;
                border: 1px solid $lgray;
                content: '';
                width: 20px;
                height: 20px;
                line-height: 20px;
                margin: -1px 9px 0 0;
                text-align: center;
                border-radius: 50%;
                box-sizing: border-box;
                z-index: 2;
            }
        }

        &:checked + label:before{
            border-color: $color-primary;
        }

        &:checked + label:after{
            @include disinBlock('m');
            background-color: $color-primary;
            content:"";
            position: absolute;
            width: 10px;
            height:10px;
            left: 0;
            top: 50%;
            margin: -7px 0 0 5px;
            border-radius:50%;
            animation-name: scalein;
            animation-duration: 0.3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            z-index: 1;
        }
    }

    @include mq('deskTop'){
        input[type="radio"]{
            & + label{
                min-height: 26px;

                &:before{
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    margin: -1px 9px 0 0;
                }
            }

            &:checked + label:after{
                width: 14px;
                height:14px;
                margin: -9px 0 0 5px;
            }
        }
    }
}

.frmwrap{
    border-top: 1px solid $lgray;

    &.bortmode{
        border-top: 2px solid $black;
    }

    .frmdl{
        padding: 18px 0 20px;
        border-bottom: 1px solid $lgray;

        & > dt{
            @include fsm('16');
            color: $black;
            margin-bottom: 5px;
            font-weight: 500;
        }
    }

    .btnr{
        margin-top: 5px;
        text-align: right;

        .btnunder{
            span{
                @include fsm('16');
                color: $color-primary;
                border-bottom: 1px solid $color-primary;
                display: inline-block;
                padding-bottom: 1px;
                font-weight: 500;

            }
        }
    }

    .divide2{
        display: flex;
        justify-content: space-between;

        & > div{
            width: (325/670)*100%;
        }
    }

    .frm_otxt1{
        @include fsm('18');
        font-weight: 500;
    }

    .infotxt{
        @include fsm('16');
        margin-top: 10px;
        font-weight: 500;
    }

    @include mq('deskTop'){
        &.bortmode{
            border-top-width: 4px;
        }

        .frmdl{
            @include clearfix();
            padding: 0;

            & > dt{
                float: left;
                width: 160px;
                padding: 18px 0 18px 15px;
            }

            & > dd{
                float: right;
                width: calc(100% - 165px);
                padding: 10px 20px 10px 0;
            }
        }

        .divide2{
            @include disinBlock('m');
            justify-content: initial;

            &.deskwid1{
                width: 550px;
            }
            &.deskwid2{
                width: 100%;
            }

            & > div{
                @include disinBlock('m');
                width: 100%;
                margin-right: 6px;
            }
        }

        .frm_otxt1{
            @include disinBlock('m');
            padding-top: 10px;
        }

        .infotxt{
            @include disinBlock('m');
        }
    }
}

.phonewrap{

    .numberposition{
        display: flex;
    }

    .selectbox{
        @include col(3);
    }

    .inputbox{
        @include col(3);
        padding-left: 12px;
        margin-left: 6px;
        &::before{
            @include posiCenter('v');
            content: '-';
            display: block;
            left: 0;
        }
    }

    .authentic_btn{
        margin-top: 10px;
    }

    &.mode2{
        .authnumber{
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            button{
                width: 24%;
            }
        }
        .inputbox.authnum{
            width: 50%;
            padding-left: 0;
            margin: 0 0;

            &::before{
                display: none;
            }
        }
    }

    @include mq('deskTop'){
        display: flex;
        justify-content: space-between;

        .authentic_btn{
            margin: 0 0 0 10px;
        }

        &.mode2{
            justify-content: flex-start;

            .selectbox, .inputbox{
                height: 45px;
            }

            .authnumber{
                justify-content: flex-start;
                margin: 0 0 0 10px;

                button{
                    margin-left: 10px;
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            .inputbox.authnum{
                width: 65%;
            }
        }
    }
}

.mailwrap{
    .mailposition{
        display: flex;
    }

    .selectbox, .inputbox{
        @include col(3);
    }

    .inputbox.domain{
        padding-left: 18px;
        margin-left: 6px;
        &::before{
            @include posiCenter('v');
            content: '@';
            display: block;
            left: 0;
        }
    }

    .selectbox{
        margin-left: 10px;
    }

    @include mq('deskTop'){
        .inputbox{
            width: 300px;
            height: 45px;
        }
        .selectbox{
            width: 350px;
            height: 45px;
        }
    }
}

.titposition{
    position: relative;

    .rightxt{
        @include fsm('16');
        margin-bottom: 6px;
        font-weight: 500;
    }

    @include mq('deskTop'){
        .rightxt{
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}

.essential{
    @include disinBlock('m');
    position: relative;
    padding-right: 8px;

    &::after{
        @include posiCenter('v');
        color: $color-primary;
        content: '*';
        right: 0;
        font-weight: 400;
    }
}

