@mixin clearfix(){
    &::after{
        content:'';
        display:block;
        float:none;
        clear:both;
        height:0;
        font-size:0;
        line-height:0;
        visibility:hidden;
    }
}

@mixin screenInner($maxWidth) {
    max-width: $maxWidth;
    margin-left: 20px;
    margin-right: 20px;
}

@mixin blind(){
    position:absolute;
    left:-9999px;
    top:0;
    height:0;
    font-size:1px;
    line-height:0;
    @include ir;
}

@mixin ir(){
    text-indent:-9999em;
    overflow:hidden;
}

@mixin ir2(){
    text-indent:9999em;
    overflow:hidden;
}

@mixin disinBlock($va){
    display: inline-block;

    @if $va == 'm' {
        vertical-align: middle;
    } @else if $va == 't' {
        vertical-align: top;
    } @else if $va == 'b' {
        vertical-align: bottom;
    }
}

@mixin tableCell(){
    display: table-cell;
    vertical-align: middle;
}

@mixin posiCenter($areaPosi) {
    @if $areaPosi == 'va' {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if $areaPosi == 'a' {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    } @else if $areaPosi == 'v' {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

@mixin marginCenter(){
    margin-left: auto;
    margin-right: auto;
}

@mixin pad($posi, $num) {
    @if $posi == 'top' {
        .pdt#{$num}{
            padding-top: $num+px;
        }
    } @else if $posi == 'btm'{
        .pdb#{$num}{
            padding-bottom: $num+px;
        }
    } @else if $posi == 'left'{
        .pdl#{$num}{
            padding-left: $num+px;
        }
    } @else if $posi == 'right'{
        .pdr#{$num}{
            padding-right: $num+px;
        }
    }
}

@mixin mg($posi, $num) {
    @if $posi == 'top' {
        .mgt#{$num}{
            margin-top: $num+px;
        }
    } @else if $posi == 'btm'{
        .mgb#{$num}{
            margin-bottom: $num+px;
        }
    } @else if $posi == 'left'{
        .mgl#{$num}{
            margin-left: $num+px;
        }
    } @else if $posi == 'right'{
        .mgr#{$num}{
            margin-right: $num+px;
        }
    }
}

@mixin widImport($view, $width) {

    @if $view == 'desk'{
        @include mq('deskTop'){
            .widimport_desk#{$width}{
                width: $width+px !important;
            }
        }
    }
}

@mixin transition($time) {
    transition: all $time ease-in-out;
}

@mixin bgicon($mwid, $mhei, $bgurl) {
    width: $mwid+px;
    height: $mhei+px;
    background-image: url($bgurl);
    background-repeat: no-repeat;
    background-size: contain;
}

@mixin textOverflow() {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin allMenuFs($depth) {
    @if $depth == '1' {
        color: $black;
        font-size: 1.25rem;
        font-weight: 700;
        @include mq('deskTop'){
            color: $white;
            font-size: 2rem;
        }
    } @else if $depth == '2'{
        color: $black;
        font-size: 1rem;
        font-weight: 500;
        @include mq('deskTop'){
            color: $white;
        }
    } @else if $depth == '3'{
        font-size: 0.875rem;
        @include mq('deskTop'){
            color: $skyBlue;
            font-size: 1rem;
            font-weight: 500;
        }
    }
}

@mixin fsm($size){
    @if $size == 'bigTitle' {
        font-size: 1.875rem;
        @include mq('deskTop'){
            font-size: 3.125rem;
        }
    } @else if $size == 'midTitle' {
        font-size: 1.375rem;
        @include mq('deskTop'){
            font-size: 2.5rem;
        }
    } @else if $size == 'viewTitle' {
        font-size: 1.25rem;
        @include mq('deskTop'){
            font-size: 2em;
        }
    } @else if $size == 'sectorTitle' {
        font-size: 1.125rem;
        @include mq('deskTop'){
            font-size: 2.125em;
        }
    } @else if $size == 'title' {
        font-size: 1rem;
        @include mq('deskTop'){
            font-size: 1.125rem;
        }
    } @else if $size == 'location' {
        font-size: 0.813rem;
        @include mq('deskTop'){
            font-size: 0.938rem;
        }
    } @else if $size == 'totalSearch' {
        color: $color-primary;
        font-size: 1.125rem;
        font-weight: 500;
        @include mq('deskTop'){
            font-size: 1.875rem;
        }
    } @else if $size == 'tabMenu' {
        font-weight: 500;
        @include mq('deskTop'){
            font-weight: 400;
        }
        @include mq('deskTop-wide'){
            font-size: 1.125rem;
        }
    } @else if $size == '15' {
        font-size: 0.688rem;
        @include mq('deskTop'){
            font-size: 0.938rem;
        }
    } @else if $size == '16' {
        font-size: 0.813rem;
        @include mq('deskTop'){
            font-size: 1rem;
        }
    } @else if $size == '18' {
        font-size: 0.938rem;
        @include mq('deskTop'){
            font-size: 1.125rem;
        }
    } @else if $size == '20' {
        font-size: 1rem;
        @include mq('deskTop'){
            font-size: 1.25rem;
        }
    } @else if $size == '22' {
        font-size: 1rem;
        @include mq('deskTop'){
            font-size: 1.375rem;
        }
    } @else if $size == '28' {
        font-size: 1.125rem;
        @include mq('deskTop'){
            font-size: 1.75rem;
        }
    } @else if $size == '34' {
        font-size: 1.125rem;
        @include mq('deskTop'){
            font-size: 2.125em;
        }
    } @else if $size == '40' {
        font-size: 1.375rem;
        @include mq('deskTop'){
            font-size: 2.5rem;
        }
    } @else if $size == '60' {
        font-size: 1.875rem;
        @include mq('deskTop'){
            font-size: 3.75rem;
        }
    } @else if $size == '80' {
        font-size: 3rem;
        @include mq('deskTop'){
            font-size: 5rem;
        }
    }
}

@mixin col($n) {
    width: (100%/$n);
}

@mixin tableCol($colWidth) {
    .colt#{$colWidth}{
        width: ($colWidth/1410)*100%;
    }
}

@mixin formindent {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

@mixin mq($screen-width) {
    @if $screen-width == 'mobile-anoter' {
        @media screen and (min-width: 380px) {
            @content;
        }
    }
}