$color-primary: #f3684a;
$color-default: #3a3a3a;
$white: #fff;
$black: #282828;
$black2: #232733;
$gray: #858585;
$gray2: #6c707c;
$lgray: #ddd;
$bggray1: #f5f5f5;
$bggray2: #eaeaea;
$yellow: #f3d521;
$blue: #8faee3;

$main-width: 100%;